*.qgz
*.nc
*.dat
*.log
*.txt
*.csv
*.gif
*.png
*.jpg
*.2dm
*.npy
*.nml
*.mat
*-checkpoint.ipynb
Rivers/Raw_Temperatures/196.43_Maalselva.csv~
.DS_Store
examples/
.vscode/launch.json
04_add_fabm_tracer/.ipynb_checkpoints/make_input-checkpoint.py
